# place files and directories to be ignored by git.
# files to be ignored
*.pyc
*.log
*.exe
*.bat
*iml
*.rar

# directories to be ignored
env/
# inacase we have a virtualenv named this way.
venv/
.idea/
.vscode/
.vagrant/