# place files and directories to be ignored by git.
# files to be ignored
*.pyc
*.log
*.exe
*.bat
/sql_server/sequel-pro.png
/sql_server/mysql-vagrant-master.zip

# directories to be ignored
.idea/
app/templates/
venv/
