# place files and directories to be ignored by git.
# files to be ignored
*.pyc
*.log
*.exe
*.bat
*iml

# directories to be ignored
.idea/
env/
# inacase we have a virtualenv named this way.
venv/
instance/